unsloth==2025.9.6
unsloth_zoo==2025.9.7
vllm==0.10.2
trl==0.19.1
peft>=0.13.0,<0.16.0
transformers>=4.45.0,<4.58.0
accelerate>=1.0.0
datasets>=3.0.0
trackio
openenv-core
google-genai
huggingface_hub
hf_transfer
